
input.centerText{
    text-align: center;
}

.imagen{
	width: 150px;
	height: 150px;
	
}

.imagen2{
	width: 80px;
	height: 80px;
	text-align: left;
	
}

.centerImg{
	display:block;
	text-align: center;

}

.label{
	text-align: center;
}

.centerText{
	text-align: center;
}

.nombreUser{
	float: left;

}

.salir{
	float:right;
}

.ui-icon-salir{
	background-image: url(../img/cerrar.png);
	background-size: 18px 18px;
	background-position: center;
	background-repeat: no-repeat;
	
}

tr:nth-child(even) {
    background: #e9e9e9;

}  

